@import url(http://fonts.googleapis.com/css?family=Inconsolata);

body {
  overflow-y:scroll;
  margin: 0;
  padding: 0;
}

svg {
  overflow: hidden;
}

div {
  border: 0;
  margin: 0;
}

text {
   text-anchor: middle;
   stroke: none;
   /* font-family: Inconsolata; */
}