<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Energy Use of Philadelphia Municipal Buildings</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
  <link rel="stylesheet" href="css/app.css"/>
  <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body ng-controller="BuildingList">
  <ul> 
    <!-- managed by D3 -->
    <!-- <li><svg ngd3-scatter datajson=buildings xAxisLabel="Floor Area [sf]" yAxisLabel="Energy Use Intensity [kBTU/yr/sf]" xKey="BLDG_FLOOR_AREA" yKey="SITE_EUI" id="overview-eui-vs-sf"></svg></li> -->
    <li><svg id="overview-eui-quantile" height=0></svg></li>
  </ul>
  <ul class="menu">
    <li><a href="#/view1">view1</a></li>
    <li><a href="#/view2">view2</a></li>
  </ul>

  <div class="container-fluid">
    <!-- TODO replace bootstrap presentational classes with something more semantic -->
    <div class="row">
      <div class="col-md-2">
        <ul class="inputs">
        <!-- selectors for filtering -->
        <li> Floor Area between <input type="number" ng-model="sfGraphMin"> square feet and <input type="number" ng-model="sfGraphMax"></li>
        <li> 
          Building Sector:
          <ul class="checklist">
            <li ng-repeat="(s,checked) in sectors"><label><input type="checkbox" ng-model="sectors[s]">{{s}}</label></li>
          </ul>
        </li>
      </div>
    </div>
  </div>

  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <div ng-view></div>

  <div>Angular seed app: v<span app-version></span></div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
  <script src="js/underscore-min.js"></script>
  <script src="js/graphs.js"></script>
  <script src="js/d3.v3.js"></script>
</body>
</html>
